body {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #99CCFF;
}

.box-login {
  max-width: 360px;
  padding: 25px;
  margin: 0 auto;
  background-color: #F0F8FF;
  border-radius:30px;
}

.form-login .form-login-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input {
  margin-bottom: -1px;
}

.form-login button {
  margin-top: 20px;
}
