body {
	font-family: cursive;
/* 	background-color: #F0F8FF; */
	padding-bottom: 25px;
}

.bg-1{
	background: #F0F8FF;
/* 	background-color: #d9edf7; */
/* 	background-color: #abd8ef; */
}

.bg-2{
	background: #ffdd7b;
/* 	background-color: #d9edf7; */
/* 	background-color: #abd8ef; */
}

.box-center {
	padding: 25px;
	max-width: 400px;
	margin: 0 auto;
	border-radius: 30px;
}

.vertical-center {
	padding: 25px 0;
}

.icon-lg{
	font-size: 35px
}
.logo-img {
	width: 50px;
	padding: 0;
	margin-top: 5px;
}
.logo-text{
	vertical-align: super;
	font-family: cursive;
}
.cursorPointer{
	cursor: pointer;
}
.filterTables {
    width: 100%;
/*     padding: 3px; */
    box-sizing: border-box;
}
.containerImage img{
	width: 100%;
}
.title{
	margin-top: 0;
	font-weight: bold;
}
.form-group label{
	text-align: left;
}
.divTable{
	padding: 0 20px;	
}
.iconTable{
	padding-left: 5px;
	padding-right: 5px;
}
.control-label.text-left{
	text-align: left;
}
.control-label.text-center{
	text-align: center;
}
.noPadding{
	padding: 0;
}
.selectFileLabel {
		text-align:center;
	}
.selectFileInput {
		visibility: hidden; 
		position: absolute;
	}
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-options{
	padding-bottom: 5px;
}