body {
	font-family: cursive;
	padding-bottom: 25px;
}

.bg-2{
	background: #ffdd7b;
/* 	background-color: #d9edf7; */
/* 	background-color: #abd8ef; */
}

.box-center {
	padding: 25px;
	max-width: 400px;
	margin: 0 auto;
	border-radius: 30px;
}

.vertical-center {
	padding: 25px 0;
}

.icon-lg{
	font-size: 35px
}
.logo-img {
	width: 50px;
	padding: 0;
	margin-top: 5px;
}
.logo-text{
	vertical-align: super;
	font-family: cursive;
}
.cursorPointer{
	cursor: pointer;
}
.filterTables {
    width: 100%;
/*     padding: 3px; */
    box-sizing: border-box;
}
.containerImage img{
	width: 100%;
}
.title{
	margin-top: 0;
	font-weight: bold;
}
.form-group label{
	text-align: left;
}
.divTable{
	padding: 0 20px;	
}
.iconTable{
	padding-left: 5px;
	padding-right: 5px;
}
.control-label.text-left{
	text-align: left;
}
.control-label.text-center{
	text-align: center;
}
.noPadding{
	padding: 0;
}
.noMargin{
	margin: 0;
}
.aling-input{
    padding-top: 6px;
}
.selectFileLabel {
	text-align:center;
}
.selectFileInput {
	visibility: hidden; 
	position: absolute;
}
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-options{
	padding-bottom: 5px;
}
.modal-padding{
	padding: 0 5% 0 5%
}
.modal-xl{
	width: 85%;
}
.form-box{
    width: 100%;
    padding: 6px 12px 12px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px 15px;
}

.box-news{
	padding: 6px 12px 12px 12px;
	border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0px;
}

.div-news{
	margin-bottom: 10px;
}

.green{
	color: green;
}
.red{
	color: red;
}
.gray{
	color: graytext;
}
.groupTable{
	padding: 0px 10px 10px 10px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0px;
}

.comments-box{
	padding-left: 15px;
}

.spaced{
	margin-top: 15px;
}

.dates-schedule{
	padding-top: 15px;
	
}
.hidde{
	display: none;
}
.table_view{
	width:100%;
	display: table;
}
.table_cell_view{
	display: table-cell;
}
.no_resize{
	resize: none;
}

#menuRow0 {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.vertical_top{
	vertical-align: top;
}
.identedText{
	padding-left:10px;
}